 *,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

*::before,
*::after {
    display: inline-block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

body, html {
    height: 100%;
}

body {
    line-height: 1;
    font-family: "Hind Vadodara", sans-serif;
} 


